:root{
	box-sizing: border-box;
}
*,
*:before,
*:after{
	box-sizing: inherit;
}

.container{
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

button{
	cursor: pointer;
	background-color: transparent;
	border: 0;
}
.prev,
.next{
	border: 1px solid silver;
}