
*{
    box-sizing: border-box;
}

#myform{
    max-width: 300px;
    margin: 100px auto 0;
}

.input.error .field {
    border: 1px solid red;
}

.input.error .message {
    color: red;
}

.input.success .message {
    color: green;
}

.input.success .field {
    border: 1px solid green;
}